{% extends 'base.html' %}
{% load static %}



{% block title %}Cadastro{% endblock %}

{% block content %}


<div class="slider">
  <div class="Modern-Slider content-section" id="top">
      <!-- Item -->
      <div class="item item-1">
          <div class="img-fill">
          <div class="image"></div>
          <div class="info">
              <div>
                  
                <h1>Serviços 1<br>Destaques</h1>
                <p>Descrição serviços etc.</p>
                <div class="white-button button">
                    <a href="#featured">Discover More</a>
                </div>
              </div>
              </div>
          </div>
      </div>
      <!-- // Item -->
      <!-- Item -->
      <div class="item item-2">
          <div class="img-fill">
              <div class="image"></div>
              <div class="info">
              <div>
                <h1>Serviços 2 <br>Destaques</h1>
                <p>Descrição serviços etc.
                <br>Descrição serviços etc.</p>
                
                <div class="white-button button">
                    <a href="#featured">Share More</a>
                </div>
              </div>
              </div>
          </div>
      </div>
      <!-- // Item -->
      <!-- Item -->
      <div class="item item-3">
          <div class="img-fill">
              <div class="image"></div>
              <div class="info">
              <div>
                <h1>Serviços 3<br>descrição</h1>
                <p>Descrição serviços etc. <br>Descrição serviços etc.</p>
                
                <div class="white-button button">
                    <a href="#featured">Learn More</a>
                </div>
              </div>
              </div>
          </div>
      </div>
      <!-- // Item -->
  </div>
</div>


<div class="page-content">
  <section id="featured" class="content-section">
      <div class="section-heading">
          <h1>MELIUS<br><em>BLOG</em></h1>
          <p>Veja também.
          <br>Noticias, artigos sobre contabilidade e diversos.</p>
      </div>
      <div class="section-content">
          <div class="owl-carousel owl-theme">
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_1.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>Descrição.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_2.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>DescriçãoDescriçãoDescriçãoDescrição</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_3.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>DescriçãoDescriçãoDescriçãoDescrição</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_2.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>Descrição</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_1.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Aliquam</span>
                      <p>Descrição.</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_3.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>Descrição</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_2.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>Descrição</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_1.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>DescriçãoDescriçãoDescriçãoDescrição</p>
                  </div>
              </div>
              <div class="item">
                  <div class="image">
                      <img src="{% static 'img/featured_3.jpg' %}" alt="">
                      <div class="featured-button button">
                          <a href="#projects">Continue Reading</a>
                      </div>
                  </div>
                  <div class="text-content">
                      <h4>Titulo</h4>
                      <span>Descrição</span>
                      <p>DescriçãoDescriçãoDescriçãoDescrição</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <section class="footer">
    <p>Copyright &copy; 2019 Melius 
    
    Consultoria Contábil.</p>
  </section>
  </div>


{% endblock %}
