{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}

  </section>
  <div class="page-content">
    
<section id="contact" class="content-section">
  
  <div id="contact-content">
      <div class="section-heading">
          <h1>Contato<br><em>VIVER VIBES SAÚDE</em></h1>
          <p>
          <br></p>
          
      </div>
      <div class="section-content">
          
        <form action="" method="POST" class="tm-contact-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Enviar</button>
         </form> 
        <form action="" method="POST" class="tm-contact-form">
            {% csrf_token %}
            {{ dados.as_p }}
            <button type="submit">Enviar</button>
        </form> 
         


      </div>
  </div>
</section>




<section class="footer">
  <p>Copyright &copy; 2022 Viver Vibes Saúde -
        
    Clínica de Psicologia.</p>
</section>
</div>

{% endblock %}
