{% extends 'base.html' %}

{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

<div class="page-content">
    <section id="featured" class="content-section">
        <div class="section-heading">
            <h1>Detalhes do<br><em>Atendimento</em></h1>
            <p>
            <br>Contate-nos agora e aproveite essa oferta.</p>
            
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col-lg-3 mb-3 mb-lg-0">
                    {% if product.image %}
                    <img class="container-fluid" src="/media/{{product.image}}" alt="">
                    {% else %}
                    <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <h5 class="font-weight-bold">{{ product.name }}</h5>

            <p>{{ product.description }}</p>

    
            <p> Voltar para o catálogo de
            <a class="text-decoration-none" href="{{ product.category.get_absolute_url }}">
                {{ product.category.name }} </a></p>
        </div>




                <section class="footer">
                    <p>Copyright &copy; 2022 Viver Vibes Saúde -
        
                        Clínica de Psicologia.</p>
                </section>
                </div>
{% endblock content %}